@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../app/Livewire/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../resources/views/components/**/*';
@source '../../../../resources/views/*.blade.php';
